<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/home.css">
    <title>PBHAIYA</title>
</head>
<body>
    <div class="Banner">
      <div class="navbar">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSE5-ar3GC546vDHo8fbp0AMfupENhPkv18Ww&usqp=CAU"alt="logo" class="logo">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Courses</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
      </div> 
      <div class="content">
        <h1>Welcome to PBHAIYA HUB</h1>
        <pre>This is the platform for every students who wants to learn Mathematics with minimal charges.
My Ultimate Goal is to provide quality Education to everyone. Education is a basic Human Right.
Stay connected with me on Youtube. 
        </pre>
        <div>
          <button type="button"><span></span>NOTES</button>
          <button type="button"><span></span>Lectures</button>
           <button type="button"><span></span>Test Yourself</button>
        </div>
      </div>
      <div class="foot">
        <ul>
            <a href="https://www.youtube.com/channel/UCccEl83pdDjPpQ2t_0s38fw" target="_blank">Youtube</a>
            <br>
            <a href="https://www.linkedin.com/in/prabhat-kumar-4072b920a/" target="_blank">LinkedIn</a>
            <br>
            <a href="t.me/pbhaiya_hub" target="_blank">Telegram</a>
            <br>
            <a href="https://www.instagram.com/pbhaiyahub/?igshid=ZGUzMzM3NWJiOQ%3D%3D" target="_blank">Instagram</a>
        </ul>
      </div> 
    </div>
</body>
</html>